.background {
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vh;
    row-gap: 5vh;

    align-self: center;
    background-color: transparent;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    position: absolute;
    font-family: Courier New;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(159, 159, 159);
}

input {
    margin-bottom: 5px;
    color: rgb(139, 139, 139);
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
    padding: 5px;
  }


.upcoming-container {
    border: 7px solid rgb(255, 234, 234);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-content: center;
    border-radius: 15px;
    background-color: rgb(255, 252, 252);
}

.upcoming-container > p {
    font-size: 16pt;
    margin-left: 5%;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.scroll-container {
    overflow: hidden;
    max-width: 90%;
    height: 85%;
    align-self: center;
    padding: 0% 5% 5% 5%;
    justify-content: space-between;
    font-size: 12pt;
}


.upcoming-tasks {
    min-height: 2em;
    padding: 0.5em;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 96%);
    border-radius: 4px;
    padding: 0;
    align-self: center;
}

.task-container {
    
    list-style: none;
    font-size: 12pt;
    background-color: rgb(255, 253, 253);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    
}

.date-time {
    grid-column: 0 / 1;
    padding: none;
    margin: none;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cancel-button {
    padding: 1vh;
    margin-right: 1vh;
    border: none;
    background-color: transparent;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    border-radius: 5%;
}



.gif {
    border: 2px solid rgb(255, 255, 255);
    grid-column: 2 / 2; 

    height: 30vh;
    background-color: white;
}

.schedule-container {
    background-color: rgb(255, 253, 253);
    border: 6px solid rgb(255, 234, 234);
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border-radius: 15px;
    margin: none;
    padding-left: 5%;
    align-items: center;
    
    display: grid;
    grid-template-columns: auto auto;
}

.schedule-task {
    height: 90%;
    width: 100%;
    font-weight: normal;
    font-size: 14pt;
}

.schedule-task > p {
    font-size: 16pt;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
}


.schedule-task__label {
    margin-top: 5%;
}

.schedule-task__submit {
    margin-top: 5%;
}

.schedule-task__submit:hover {
    cursor: pointer;
}

#message {
    padding-top: 5px;
    font-size: 12pt;
}

.message-green {
    color: green;
}